body{
  margin:0;
  padding:0;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
html{
    scroll-behavior: smooth;
}
body{
  
  margin:0 auto;
  
}
.navbar{
  width:100%;
height: 60px;
margin: 0;

  /* position:absolute; */
display:flex;
  justify-content:space-between;
  /* position:fixed; */
  z-index:3;

background-color:#FAFAFA;
border-bottom: 2px solid #d2ad32;
opacity: 0.9;
}

.navbar img{
margin-left: 50px;
width: 5%;
position: relative;
}

.top-menu .navbar h1::before{
content: '';
position: absolute;
top:10px;
left:-20px;
right: 0;

width:3px;
height: 40px;
background-color: #e3e3e4;

}


.navbar h1{
width: 40%;
margin-left: 40px;
line-height: 50px;
color:#000;
position: relative;
}
.navbar ul{
width: 58%;

  line-height: 60px;
}

.navbar ul li{
  display:inline;
}
/* .navbar ul li:first-child{
margin-left: 250px;
} */
.navbar ul li:last-child{
  margin-right:100px;
}

.navbar ul li a{
  text-decoration:none;
  color:#000;
  font-size:20px;
  font-weight:900;
padding: 5px 0 1px 0;
margin: 0 2px 0 20px; 
}

.navbar ul li a:hover,.navbar ul li .for-active{
  color:#d2ad32;
}

/* .navbar ul li select{
  border:none;
  background:transparent;
  color:#000;
  font-size:14px;
  font-weight:700;
} */

/*Fix Navbar*/

.navbar.fix {
background:#FAFAFA;
}



.main-activity{
 
  width:100%;
	height:100vh;
	background-image:url('../img/slider4.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
  
}

.activity {
  color:#d2ad32 ;
  height: 400px;
  /* background:linear-gradient(pink,white,skyblue); */
  background:skyblue;
   /* clip-path: ellipse(71% 59% at 50% 40%);  */
   /* clip-path: ellipse(40% 90% at 20% 50%); */
   clip-path: ellipse(40% 90% at left); 
   /* clip-path: polygon( 50% 0%, 0% 0%, 0% 20%,50% 100%);#d2ad32 */
 
}

.activity1 h3{
    
    text-align: center;
  color:#d2ad32 ;

}
.list{
 text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}

.list input{
  padding: 5px 20px;
  margin-left: 20px;
  background-color:#fff;
  color: #000;
  border: 1px solid  #000;
  border-radius: 2px;
}

.list input:hover{
  background-color: #000;
  color: #fff;
}
.ch-img{
margin-left: 300px;
margin-top: 20px;
}
.ch-img img{
  width: 250px;
  height: 200px;
  padding: 10px 10px;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  padding-bottom: 60px;
  
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 12px 5px 12px;
  display: inline-block;
  padding: 0 4px 6px 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #444;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #fff;
  font-family: "Roboto", sans-serif;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  border-color: #68A4C4;
  color: #68A4C4;
}

.portfolio .portfolio-item {
  background: #1e4356;
  overflow: hidden;

  min-height: 200px;
  position: relative;
  border-radius: 4px;
  margin: 0 0 30px 0;
}

.portfolio .portfolio-item img {
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  transition: all .3s linear;
  text-align: center;
  top: 10%;
  left: 0;
  right: 0;
}

.portfolio .portfolio-item .portfolio-info h3 {
  font-size: 22px;
}

.portfolio .portfolio-item .portfolio-info h3 a {
  color: #fff;
  font-weight: bold;
}

.portfolio .portfolio-item .portfolio-info a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info a i:hover {
  color: white;
}

.portfolio .portfolio-item:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  top: calc(50% - 30px);
}

.footer{
  display: flex;
  width: 100%;
  height: 300px;
  margin-right: 10px;
  background:#FFF;
 
}




.contact-us{
  width: 39%;
  color: #000;   
}

.contact-div{
margin-left: 100px;
}

.contact-us .address{
margin-top: 50px;
/* font-size: 16px; */
}

.contact-us .address,.contact-us .contact-number{
margin-bottom: 20px;
}
.contact-us .address span{
margin-left: 80px;
}

.contact-us .address .break{
margin-left: 147px;
}
.contact-us .contact-number span{
margin-left: 23px;
}

.contact-us .contact-email span{
margin-left: 37px;
}

.contact-us h3{
margin-top: 20px;
text-align: center;
}
.contact-us ul li a{
float: left;;
margin:60px 0 30px 50px;
cursor: pointer;
}

.map{
  width: 35%;
  margin-right: 10px;
}

.map iframe{
width: 100%;
height: 300px;
}

.copyright {
width: 100%;
height: 10vh;
color: #fff;
text-align: center;
 
background-color:#d2ad32;
line-height: 10vh;
}

.icon{
margin-left: 30px;
}
.icon ul li{
  list-style-type: none;
}