*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}
html{
	  scroll-behavior: smooth;
}
body{
	
	margin:0 auto;

}
a{
  color: #d2ad32;

}
.navbar{
	width:100%;
  height: 60px;
  margin: 0;

	position:absolute;
  display:flex;
	justify-content:space-between;
	position:fixed;
	z-index:3;

  background-color:#FAFAFA;
  border-bottom: 2px solid #d2ad32;
  opacity: 0.9;
}

.navbar img{
  margin-left: 50px;
  width: 5%;
  position: relative;
}

.top-menu .navbar h1::before{
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  right: 0;
  
  width:3px;
  height: 40px;
  background-color: #e3e3e4;

}


.navbar h1{
  width: 40%;
  margin-left: 40px;
  line-height: 50px;
  color:#000;
  position: relative;
}
.navbar ul{
  width: 58%;
  
	line-height: 60px;
}

.navbar ul li{
	display:inline;
}
/* .navbar ul li:first-child{
  margin-left: 250px;
} 
.navbar ul li:last-child{
	margin-right:20px;
}*/

.navbar ul li a{
	text-decoration:none;
	color:#000;
	font-size:20px;
	font-weight:900;
  padding: 5px 0 1px 0;
  margin: 0 2px 0 20px; 
}

.navbar ul li a:hover /*,.navbar ul li select:hover*/{
	/*border-bottom-style: solid;*/
 
}

.navbar ul li a:hover, .navbar ul li .nav-active {
  color: #d2ad32;
  text-decoration: none;

}


/*.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #cfcfcf ;
  cursor: pointer;
  font-size: 18px;
}*/

/* Style the active class, and buttons on mouse-over */
/*.active, .btn:hover {
  background-color: #d2ad32;
  color: #fff;
}

/* .navbar ul li select{
	border:none;
	background:transparent;
	color:#000;
	font-size:14px;
	font-weight:700;
} */

/*Fix Navbar*/

.navbar.fix {
  background:#FAFAFA;
}
.title{
  max-width:100%;
  max-height:auto;
}
.title h3{
  text-align: center;
}

.breadcrumbs {
  padding: 20px 0px;
  background-color: #f3f8fa;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}
/*@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
}*/




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
  .contact {
    padding-bottom: 30px;
  
  }
  /*.contact h3{
    text-align: center;
    
  }*/
  .contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
   
  }
 
  .contact .info-box i {
    font-size: 32px;
    color: #68A4C4;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #a2cce3;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin-bottom: 30px;
  
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #68A4C4;
  }
  
  .contact .php-email-form input {
    padding: 20px 50px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #8dbad2;
  }
  
 
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
   }

   /*main{
    display: block;
  }
  /*h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }*/
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6, .col-md-6, .col-md-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
@media (min-width: 768px) {

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
input,button,textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,input {
  overflow: visible;
}
textarea {
  /*margin: 0;
  line-height: inherit;*/
  overflow: auto;
  resize: vertical;
}

button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
  
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control{
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

 .form-control{
padding: 0.5rem 1rem;
font-size: 1.25rem;
line-height: 1.5;
border-radius: 0.3rem;
}
 .form-control{
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}


@media (min-width: 375px) {
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
   
  }
}
@media (min-width: 576px) {
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}


@media (min-width: 576px) {
 .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
}
  .form-group {
    margin-bottom: 1rem;}

/*.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }*/
  textarea.form-control {
    height: auto;
  }
  
  
  
.text-center {
  text-align: center !important;
}
@media (min-width: 576px) {
  .text-sm-center {
    text-align: center !important;
  }
}
  @media (min-width: 768px) {
    .text-md-center {
      text-align: center !important;
    }
  }
    @media (min-width: 992px) {
      .text-sm-center {
        text-align: center !important;
      }
    }
      .mb-3{
  margin-bottom: 1rem !important;
}
/*input[type="text"].form-control,
input[type="email"].form-control {
  width: 100%;
}*/


  /*footer--------*/
.footer{
    display: flex;
    width: 100%;
    height: 300px;
    margin-right: 10px;
    background:#FFF;
   
}

  


.contact-us{
    width: 39%;
    color: #000;   
}

.contact-div{
  margin-left: 100px;
}

.contact-us .address{
  margin-top: 50px;
  /* font-size: 16px; */
}

.contact-us .address,.contact-us .contact-number{
  margin-bottom: 20px;
}
.contact-us .address span{
  margin-left: 80px;
}

.contact-us .address .break{
  margin-left: 147px;
}
.contact-us .contact-number span{
  margin-left: 23px;
}

.contact-us .contact-email span{
  margin-left: 37px;
}

.contact-us h3{
  margin-top: 20px;
  text-align: center;
}
.contact-us ul li a{
  float: left;;
  margin:60px 0 30px 50px;
  cursor: pointer;
}

.map{
    width: 35%;
    margin-right: 10px;
}

.map iframe{
  width: 100%;
  height: 300px;
}

.copyright {
  width: 100%;
  height: 10vh;
  color: #fff;
  text-align: center;
   
  background-color:#d2ad32;
  line-height: 10vh;
}

.icon{
  margin-left: 30px;
}
.icon ul li{
    list-style-type: none;
}